.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
}

.datos input{
  border-radius: 5px;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 10px;
}

.botonRegistrar{
  margin: 10px;
  padding: 5px;
  width: 200px;
  text-transform: uppercase;
}